/*

fonts : font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    overflow: hidden;
    width: 100%;
}

header {
    width: 100vw;
}

.logo {
    padding: 0px;
    margin: -12px;
    width: 12vw;
}

.main-nav {
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

/*
.dropdown:hover .dropdown-content {
    left: auto;
    right: 0;
    display: block;
    transform: translateX(0);
}

*/

.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: auto;
    right: 0;
    background-color: #ffffff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #ffb0b0;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    color: black;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}
