* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    overflow: hidden;
    width: 100%;
}

header {
    width: 100vw;
}

.logo {
    padding: 0px;
    margin: -12px;
    width: 12vw;
}

.main-nav {
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

/*
.dropdown:hover .dropdown-content {
    left: auto;
    right: 0;
    display: block;
    transform: translateX(0);
}

*/

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    right: 0;
    left: auto;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
