/*

fonts : font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    overflow-x: hidden;
    width: 100%;
}

header {
    width: 100vw;
}

.logo {
    padding: 0px;
    margin: -14px;
    width: 15vw;
    height: 9vh;
}


.main-nav {
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

/*
.dropdown:hover .dropdown-content {
    left: auto;
    right: 0;
    display: block;
    transform: translateX(0);
}

*/

.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: auto;
    right: 0;
    background-color: #ffffff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e6e6e6;
}

/* When you mouse over the navigation links, change their color */


/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    color: black;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
}




/* Style page content - use this if you want to push the page content to the right when you open the side navigation */



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */


.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.60)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuF571_gs5aw9LEawGmYIEKsHCp2mikMeWNvoj-A4uOl1wen6dlg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    padding-top: 10%;


}

.main-content {
    width: 100%;
}

.hero-text {
    color: rgba(255, 255, 255, 0.92);
    font-size: 3.0rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom:
}

.hero-btn {
    margin: 4%;
    background-color: red;
    width: ;
    font-size: 0.6rem;
}

.hero-btn a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}


.sidebar a {
    font-size: 18px;
}

}





.search-box-flex {
    display: flex;
    flex-direction: row;
    border: solid 2px;
}



.search-flex {
    display: flex;
    justify-content: space-between;
    border: solid 2px;
    margin: 2%;

}

.material-icons {}



.search-btn {
    background-color: white;
    border:none;
    padding: 2px;
}

.search-bar    {
    width: 100%;
    border: none;
}
